.vscode/settings.json
build*/
install*/
cmake/compile_commands.json
temp*/
output*
*.zip
*.gz
*.tar
doc/doxygen/latex/*
doc/doxygen/html/*
log/
script/*
apa_include/lib/*
apa_include/bin/*
*.tmp
*.temp
*.a*
*.so*
*.lib*
*.nb*
*.meta*
*.bin*